@model ProjectHack.Models.Category

@{
    ViewBag.Title = "Add Category";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<h2>Add Category</h2>

@using (Html.BeginForm("SaveCategory", "Category", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
	<div class="row">
		<div class="col-md-offset-2 col-md-8 col-md-offset-2">
			<div class="form-horizontal">
				<h4>Custom Category</h4>
				<div class="form-group">

					<div class="col-md-10">
						<div class="row">
							<div class="col-md-5">
								@Html.Label("Title")
								@Html.TextBox("txtTitle")
								<br/>
								@Html.Label("Topics")
								<br/>
								@Html.TextBox("txtTopic")
								<br/>
								@Html.TextBox("txtTopic1")
								<br/>
								@Html.TextBox("txtTopic2")
								@Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
								<input class="datefield" type="date" value=@DateTime.Today />  
							</div>
							<div class="col-md-5">
								<h5>Recommended time in days: </h5>

								<h4> Choose start and end date</h4>
							</div>
						</div>
					</div>

				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Save category" class="btn btn-default" />
					</div>
				</div>
			</div>
		</div>
	</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
